{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "ignorePatterns": ["!.dist", "dist"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescipt-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true
  }
}
